.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.Calculator-Visor {
  grid-area: VISOR;
  background-color: black;
}

.Calculator-Container {
  display: grid;
  grid-template-areas: 
  "VISOR VISOR VISOR VISOR"
  "AC AC DIV x"
  "SETE OITO NOVE MENOS"
  "QUATRO CINCO SEIS MAIS"
  "UM DOIS TRES IGUAL"
  "ZERO ZERO PONTO IGUAL";
  
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  padding: 0.5em;
  background-color: #202e3b;

  height: 40vh;
  width: 30vh;

}

.Calculator-Button {
  background-color: #444850;
  border: 2px solid #202e3b;
  cursor: pointer;
  color: #fff;
}

.AC {
  background-color: #b93e30;
}

.DIV, .x, .MENOS, .MAIS, .IGUAL {
  background-color: #717885;
}

.Calculator-Visor {
  text-align: end;
  color: #fff;
}