.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
}

.Calculator-Container {
  display: grid;
  grid-template-areas: 
  "VISOR VISOR VISOR VISOR"
  "AC AC DIV x"
  "SETE OITO NOVE MENOS"
  "QUATRO CINCO SEIS MAIS"
  "UM DOIS TRES IGUAL"
  "ZERO ZERO PONTO IGUAL";
  
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  padding: 0.5em;
  background-color: #202e3b;

  height: 40vh;
  width: 30vh;

}